
html,body{
    height: 100%;
    margin: 0;
}
.container{
    height: 100%;
    display: grid;
    place-items: center;
}
.color-list{
    list-style: none;
    background-color: silver;
    padding: 1em;
    display: none;
}
.color-list.visible,.error.visible{
    display: block;
}
.error{
    color: red;
    display: none;
}
.color-list li{
    cursor: pointer;
    padding: 0.5rem;
    transition: background-color 0.6s;
}
.color-list li:hover{
    background-color: tan;
}